.promo
    min-height: 770px
    background: url('../img/main_image.png') center (center/cover) no-repeat

.promo_title
    color: $headers-color
    font-weight: 600
    font-size: 62px
    line-height: 70px
    margin-top: 180px
    text-align: center
      
.promo_subtitle
    color: $headers-color
    margin-top: 30px
    text-align: center
    
    
.promo__form
    margin: 0 auto
    margin-top: 60px

.search
    display: flex
    justify-content: center
    
.promo__select
    display: block
    width: 240px
    height: 60px
    border: 1px solid #E7E7E7
    box-sizing: border-box

#start
    border-radius: 10px 0px 0px 10px

.promo_btn
    border-radius: 0px 10px 10px 0px
    display: block
    width: 200px
    height: 60px
    border: none
    background: $primary-red
    text-align: center
    font-weight: 600
    font-size: 18px
    line-height: 30px
    color: #fff