.promo
    min-height: 770px
    background: url('../img/main_image.png') center (center/cover) no-repeat

.promo_title
    color: $headers-color
    font-weight: 600
    font-size: 62px
    line-height: 70px
    margin-top: 180px
    text-align: center
      
.promo_subtitle
    color: $headers-color
    margin-top: 30px
    text-align: center
    
    
.promo__form
    margin: 0 auto
    margin-top: 60px

.promo__form
    display: flex
    justify-content: center
    
.input__wrapper
    position: relative
    display: block
    width: 240px
    height: 60px
    border: 1px solid #E7E7E7
    box-sizing: border-box  
    background-color: #fff  
.input__wrapper:first-child
    border-radius: 10px 0px 0px 10px 

.iput_field
    border: none
    width: 100%
    height: 100%
    padding-left: 20px
    font-family: Inter
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
.iput_field_br      // доп класс для скругдения первого элемента.через first-child скругляются все
    border-radius: 10px 0px 0px 10px

.input__arrow_down
    position: absolute
    right: 20px
    top: 20px
    height: 20px
    width: 20px
    cursor: pointer
.input__arrow_down img
    display: block
    margin: 0 auto
    transform: translateY(110%)   

  

.promo_btn
    border-radius: 0px 10px 10px 0px
    display: block
    width: 200px
    height: 60px
    border: none
    background: $primary-red
    text-align: center
    font-weight: 600
    font-size: 18px
    line-height: 30px
    color: #fff